<% provide :title, "Forgot password" %>
<div class="container margin-header margin-footer1">
  <h1 class="title">Forgot password</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_for :password_reset, url: password_resets_path do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
        <div class="text-center mt-3">
          <%= f.submit "Submit", class: "btn btn-primary col-md-12" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
