<%= provide :title, t(".edit_word") %>
<%= provide :button_text, t(".update") %>
<div class="container margin-header">
  <h1 class="title"><%= t ".edit_word" %></h1>
  <div><%= render "form" %></div>
</div>
