<table class="table">
  <% @category.lessons.each do |lesson| %>
    <tr>
      <td>
        <div class="offset-md-4 col-md-3 lesson">
          <%= link_to lesson.name, "#", class: "lesson-title" %>
          <%= link_to t(".word_list"),
            admin_category_lesson_words_path(@category, lesson) %> |
          <%= link_to t(".edit"),
            edit_admin_category_lesson_path(@category, lesson) %> |
          <%= link_to t(".delete"), admin_category_lesson_path(@category, lesson),
            method: :delete, data: {id: lesson.id, category: @category.id},
              class: "lesson-option" %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
