<% provide :title, t(".edit_user") %>
<% provide :button_text, t(".save_changes") %>
<div class="container margin-header margin-footer">
  <h1 class="title"><%= t ".update_your_profile" %></h1>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= render "form" %>
    </div>
  </div>
</div>
