<% provide(:title, @user.username) %>
<div class="margin-header margin-footer">
  <aside class="col-md-4">
      <h1>
        <%= @user.username %>
        <%= @user.email %>
      </h1>
  </aside>
</div>
