<%= provide :title, @category.name %>
<div class="container">
  <div class="offset-md-1 margin-header">
    <div class="lesson-header">
      <%= link_to t(".categories"), root_url, class: "lesson-header" %>
      <span>></span>
      <span><%= @category.name %></span>
    </div>
  </div>
  <div class="offset-md-4 col-md-3 margin-footer mt-3">
    <% @category.lessons.each do |lesson| %>
      <%= link_to lesson.name, category_lesson_path(id: lesson.id),
        class: "lesson-title" %>
    <% end %>
  </div>
</div>
