<%= provide :title, t(".edit_categories") %>
<%= provide :button_text, t(".update") %>
<div class="container margin-header">
  <h1 class="title"><%= t ".create_new_categories" %></h1>
  <div><%= render "form" %></div>
</div>
