<%= provide :title, t(".create_new_category") %>
<%= provide :button_text, t(".create") %>
<div class="container margin-header">
  <h1 class="title"><%= t ".create_new_category" %></h1>
  <div><%= render "form" %></div>
</div>
