$azure: #e0eeee;
$black: #000;
$blue: #00f;
$dark-gray: #808080;
$gray: #bdbdbd;
$light-blue: #436eee;
$light-gray: #ddd;
$royal-blue: #5a7391;
$slate-blue: #f1f3fa;
$slate-gray: #5b9bd1;
$snow: #93a3b5;
$state-danger-text: #f00;
$white: #fff;
$green: #0f0;
