@import 'colors';

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.search-bar {
  top: 17px;
}

.button-search {
  float: right;
  position: relative;
  bottom: 38px;
  right: 2px;
  cursor: pointer;
  padding: 10px;
}

.item-bar {
  width: auto;
}

.logo-tht {
  margin-right: 40px;
}

.slider-1 {
  background-image: url('2.jpg');
}

.slider-2 {
  background-image: url('8.jpg');
}

.slider-3 {
  background-image: url('9.jpg');
}

.margin-header {
  margin-top: 50px;
}

.margin-footer {
  margin-bottom: 100px;
}

.margin-footer1 {
  margin-bottom: 250px;
}

.btn-register {
  width: 100%;
}

.title {
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  color: $gray;
}

.forgot_pwd {
  float: right;
}

.bg-profile {
  background: $slate-blue;
}

.profile {
  margin: 20px 0;
}

/* profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: $white;
}

.profile-userpic img {
  float: none;
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: $royal-blue;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  color: $slate-gray;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid $white;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: $snow;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: $white;
  color: $slate-gray;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: $azure;
  background-color: $white;
  border-left: 2px solid $azure;
  margin-left: -2px;
}

/* profile content */
.profile-content {
  padding: 20px;
  background: $white;
  font-size: 60px;
  text-align: center;
  margin-top: 10px;
  color: $dark-gray;
  min-height: 460px;
}

.profile-follow {
  font-size: 15px;
  color: $dark-gray;
  margin-top: 10px;
}

.avatar {
  display: block;
  width: 150px;
  height: 100px;
}

.thumbnail {
  float: left;
  position: relative;
  width: 100px;
  margin: 10px 0 5px 0;
  padding: 0;
  height: 130px;
  border: none;
  text-align: center;
}

#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px 0;
  }
}

/*.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}*/

.lesson-title {
  display: block;
  font-weight: bold;
  font-size: 20px;
  color: $blue;
  background-color: $light-gray;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  border: solid 3px $red;
  border-radius: 30px;
}

.lesson-title-complete {
  display: block;
  font-weight: bold;
  font-size: 20px;
  color: $green;
  background-color: $light-gray;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  border: solid 3px $green;
  border-radius: 30px;
}

.lesson-title:hover {
  background-color: $white;
  color: $light-blue;
  text-decoration: none;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}

.lesson-title-complete:hover {
  background-color: $white;
  color: $light-blue;
  text-decoration: none;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}

.lesson-option {
  font-size: 17px;
}

.lesson-header {
  color: $blue;
  font-size: 20px;
  font-weight: bold;
}

.lesson-header a {
  color: $blue;
}

.lesson-header a:hover{
  color: $light-blue;
  text-decoration: none;
}

.lesson-header .text-btn {
  float: right;
  color: $white;
}

.category-option {
  cursor: pointer;
}

.category-name {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding: 0.5rem 1rem;
}

input.radio_word, .checkbox_answer {
  width: inherit;
}

.list-answer {
  list-style: none;
}

.correct_answer {
  color: $green;
}

.wrong_answer {
  color: $red;
}

.point {
  font-size: 25px;
}

.users.follow {
  padding: 0;
}

.remove_record {
  background-color: $red;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  padding: 5px;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.activity {
  border-bottom: solid 1px #ccc;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}

.timestamp {
  color: $dark-gray;
  display: block;
  margin-left: 60px;
}

.activity-userpic img {
  max-width: 5%;
  max-height: 5%;
}
