<footer>
  <div id="info-bar">
    <div class="container clearfix">
      <span class="all-tutorials">Copyright © 2018. Designed by <strong>Trần Đức Trung</strong>. All rights reseved</span>
      <span class="back-to-tutorial">Logo fb, insta...</span>
    </div>
  </div>
</footer>
