<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; 2018. Designed by <a href="#">Trần Đức Trung</a>. All rights reseved</p>
  </div>
  <!-- /.container -->
</footer>
